<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>CSS Selectors</title>
    <style>
        h1 {
            color: violet;
        }
        div {
            color: blueviolet;
        }
        #red, h3{
            color: white;
            background-color: red;
        }
        .blue {
            background-color: blue;
            color: white;
            border: 2px solid black;
            font-size: 50px;
        }
        *{
            margin: 0;
            padding: 0;
        }
    </style>

</head>

<body>
    <div>
        <h1>This is my CSS Selector page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident magni maxime quis perspiciatis neque
            voluptas voluptate sequi modi atque necessitatibus! Nisi, quibusdam. Suscipit, quaerat. Voluptatum, velit.
            Porro, architecto fugiat. Consectetur fugit deserunt deleniti neque officiis provident, quas voluptates
            repellat vero est! In autem harum consectetur fugit sint veniam quam pariatur, veritatis eaque itaque
            doloribus libero a perspiciatis soluta sit facilis reiciendis consequatur atque tempore amet magni dolorem
            tenetur voluptatum. Quidem, consequuntur. Soluta necessitatibus provident quasi quod quia voluptate nam
            itaque debitis nostrum qui distinctio repellendus quisquam odit optio inventore alias voluptatibus, libero
            reiciendis saepe beatae maxime tenetur eligendi! Omnis, temporibus?</p>
        <h1>This is another heading</h1>
        <div id="red">Background color is red</div>
        <span class="blue">First tag</span>
        <span class="blue">Second tag</span>
        <span class="blue">Third tag</span>
        <h3 style="background-color: aqua; font-size: 30px; font-family: 'Courier New', Courier, monospace;">I am h3</h3>
    </div>
</body>

</html>